@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
    @apply absolute inset-0 w-full h-full object-contain transition-all duration-1000 bg-transparent ease-in;
    opacity: 0;
}
.slide.active {
    @apply opacity-100;
}

.sombraImagen{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.316));
}

.shadowColor{
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.262));
}

.shadowColor2{
    filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.371));
}

.sombraBoton{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.316));
}