@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.slide {
    @apply absolute inset-0 w-full h-full object-contain transition-all duration-1000 bg-transparent ease-in;
    opacity: 0;
}
.slide.active {
    @apply opacity-100;
}

.sombraImagen{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.316));
}

.shadowColor{
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.252));
}

.shadowColor2{
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.522));
}

.sombraBoton{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.316));
}

.gradienteIndex {
    background: linear-gradient(35deg, rgba(0, 0, 0, 0.316) 0%, rgba(233, 179, 254, 0.371) 100%);
}

a.activo .borde {
    width: 100%; 
    left: 0; 
}

a .borde {
    width: 0;
    left: 50%;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.botonLavanda{
    background-image: 
    linear-gradient(35deg, rgba(0, 0, 0, 0.185) 0%, rgba(195, 111, 255, 0.066) 100%),
    url('../../public/assets/images/lavanda2.jpg');
    background-size: 100% 100%, cover; /* El degradado se anima, la imagen permanece fija */
    background-position: 0% 50%, end; /* Solo el degradado se moverá */
    background-blend-mode: normal;
    border: solid;
    box-shadow: rgba(77, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(41, 0, 77, 0.407) 0px 18px 36px -18px inset;
}

.botonLavanda2{
    background-image: 
    linear-gradient(360deg, rgba(55, 0, 67, 0.666) 0%, rgba(230, 193, 255, 0.644) 100%),
    url('../../public/assets/images/lavanda2.jpg');
    background-size: 100% 100%, cover; /* El degradado se anima, la imagen permanece fija */
    background-position: 0% 50%, end; /* Solo el degradado se moverá */
    background-blend-mode: normal;
    border: solid;
}

.botonClaro{
    background-image: 
    linear-gradient(360deg, rgba(100, 0, 122, 0.373) 0%, rgba(255, 255, 255, 0.488) 100%),
    url('../../public/assets/images/lavanda2.jpg');
}

.fondoProductos {
    background: 
        linear-gradient(
            rgba(44, 0, 73, 0.255), /* Color del gradiente con opacidad */
            rgba(255, 212, 236, 0.522)  /* Color del gradiente con opacidad */
        ), 
        url('../../public/assets/images/fondoProductos.png'); /* Reemplaza con la ruta de tu imagen */
    
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* Opcional: Añade otros estilos según necesites */
}

/* Puedes agregar estos estilos a tu archivo CSS */
.pagination-arrow {
    cursor: pointer;
    transition: opacity 0.3s;
}

.pagination-arrow[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.loader {
    border: 8px solid #f3f3f356; /* Color del fondo */
    border-top: 8px solid #af53ff; /* Color del spinner */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sombraInset{
    box-shadow: rgba(77, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(41, 0, 77, 0.297) 0px 18px 36px -18px inset;
}

.textoIndex{
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.462), rgba(97, 0, 146, 0.188)),
        url("https://png.pngtree.com/thumb_back/fw800/background/20231229/pngtree-aesthetic-watercolor-gradient-hand-painted-pastel-purple-background-with-light-lavender-image_13844899.png");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.textoIndex2{
    background-image: 
        linear-gradient(rgba(232, 173, 255, 0.281), rgba(74, 10, 100, 0.801)),
        url("https://png.pngtree.com/thumb_back/fw800/background/20231229/pngtree-aesthetic-watercolor-gradient-hand-painted-pastel-purple-background-with-light-lavender-image_13844899.png");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}